.tables-section {
    display: block;
    width: 100%;
    margin-top: rem(20);
    margin-bottom: rem(20);
    transition: opacity 0.25s ease;

    .tables-width-master {
        width: 100%;
    }

    .usa-dt-tab-list {
        .tooltip-wrapper {
            display: none;
        }
        .tooltip__text {
            white-space: normal;
        }
        @media (min-width: $tablet-screen) {
            overflow: visible; // so that tooltips don't get cut off
            .tooltip-wrapper {
                display: block;
            }
        }
    }

    .table-message {
        margin-top: 1rem;
        font-size: $small-font-size;
        color: $color-base;
        text-align: center;
    }

    @import "pages/award/table/_table";
    @import "../../search/results/table/tableMessages";

    .results-table-message-container {
        position: relative;
        .results-table-no-results {
            .description {
                display: none;
            }
        }
    }
}
